@tailwind base;
@tailwind components;
@tailwind utilities;
*{
     font-family: "Poppins", sans-serif;
}
.btn {
     @apply px-2 py-2 rounded-lg
}
img{
     width: 100%;
     height: 100%;
     object-fit: contain;
}
.omo{
     background: url('./assets/images/bg.svg');
     background-size: cover;
     background-repeat: no-repeat;
     @apply w-svw h-full flex items-center justify-center
}
.aktive{
     @apply text-color1 underline underline-offset-2
}
.notes > .note{
     @apply border border-color1 rounded-lg h-max w-full text-xs p-2 text-black bg-color3/5
}
.note h1{
     @apply text-base font-bold
}
.note p{
     @apply text-gray-700
}